{% extends 'base.html.twig' %}


{% block body %}
<h1>Ajouter une reclamation</h1>
    {% for message in app.flashes('info') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{{ form(form) }}
{% endblock %}

